

.header {
  background-color: rgb(184, 66, 184);
  background-repeat: no-repeat;
  height: 100px;
  border: 5px solid rgb(252, 252, 160);
  border-radius: 20px;
  text-align: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-frame{
  height: 400px;
}
.page {
  background-color: rgb(252, 252, 160); 
}
.blue {
  background-color: blue;
  animation: blues 3s infinite;
  height: 200px;
}
.red {
  background-color:red;
  animation: reds 3s infinite;
  height: 200px;
}
.yellow {
  background-color:yellow;
  animation: yellows 10s infinite;
  height: 200px
}
.green {
  background-color:green;
  animation: greens 3s infinite;
  height: 200px;
}
.purple {
  background-color:purple;
  animation: purples 10s infinite;
  height: 200px;
}
.pink {
  background-color:pink;
  animation:pinks 5s infinite;
  height: 200px;
}
.boxes1 {
  height: 200px;
  position: absolute;
  width: 100%
}
.boxes2 {
  height: 200px;
  position: absolute;
  width: 100%;
  margin-top: 200px
}
.boxes3 {
  height: 200px;
  position: absolute;
  width: 100%;
  margin-top: 400px
}
.boxes4 {
  height: 200px;
  position: absolute;
  width: 100%;
  margin-top: 600px
}
.box {
  width: 16.666666%;
}
@keyframes blues {
  0% {
    background-color:blue;
  }
  32% {
    background-color: blue;
  }
  33% {
    background-color:green;
  }
    66% {
      background-color:green;
    }
    67% {
      background-color: red;
    }
    100% {
      background-color: red;
    }
  }
  @keyframes reds {
  0% {
    background-color:red;
  }
  32% {
    background-color:red;
  }
  33% {
    background-color:blue;
  }
    66% {
      background-color:blue;
    }
    67% {
      background-color: green;
    }
    100% {
      background-color: green
    }
  }
  @keyframes yellows {
  0% {
    background-color:yellow;
  }
  32% {
    background-color:yellow;
  }
  33% {
    background-color:pink;
  }
    60% {
      background-color:blue;
    }
    75% {
      background-color: red;
    }
    100% {
      background-color: yellow;
    }
  }
  @keyframes greens {
  0% {
    background-color:green;
  }
  32% {
    background-color:green;
  }
  33% {
    background-color:red;
  }
    66% {
      background-color:red;
    }
    67% {
      background-color: blue;
    }
    100% {
      background-color: blue
    }
  }

@keyframes purples {
  0% {
    background-color: purple }
  32% {
    background-color: blue;
  }
  33% {
    background-color:pink;
  }
    60% {
      background-color: pink;
    }
    75% {
      background-color: brown;
    }
    100% {
      background-color: brown
    }
  }
@keyframes pinks {
  0% {
    background-color:pink;
  }
  32% {
    background-color: pink;
  }
  33% {
    background-color:green;
  }
    60% {
      background-color:yellow;
    }
    75% {
      background-color: pink;
    }
    100% {
      background-color: green
    }
  }


